<div class="container">
    <div class="row">
        <div class="col-md-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem nobis ratione enim placeat quam quis sint atque earum quidem accusantium, harum itaque magnam doloribus tenetur. Tenetur debitis sit error sunt.</div>
        <div class="col-md-4">FOOTER</div>
        <div class="col-md-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem nobis ratione enim placeat quam quis sint atque earum quidem accusantium, harum itaque magnam doloribus tenetur. Tenetur debitis sit error sunt.</div>
    </div>
</div>