

<Menu></Menu>
<Hero></Hero>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>{{title}}</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nisi minima perspiciatis illum fugit numquam quae at sunt veritatis quis? Tempore quod molestias consequatur quae beatae asperiores repudiandae voluptatem magnam.</div>
    <div class="col-md-6">

      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem distinctio rerum modi saepe perferendis voluptas illum aspernatur impedit? Velit eligendi voluptates eveniet autem saepe est, cum officiis nobis possimus exercitationem.</p>
     
    </div>
  </div>
</div>

<footer>
  <Footer></Footer>
  <p class="text-center">{{metadescripcion}}</p>
</footer>