<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul style="list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;">
                <li style=" margin: 0 15px;">menu 1</li>
                <li style=" margin: 0 15px;">menu 2</li>
                <li style=" margin: 0 15px;">menu 3</li>
                <li style=" margin: 0 15px;">menu 4</li>
            </ul>
        </div>
    </div>
</div>